In [620]:
import re
import os
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import pymongo
import json

# Connect to Mongo and Get Databases

mongo_connect_string = 'mongodb://testadmin:password123@ec2-54-90-178-12.compute-1.amazonaws.com:27017/TwitterIPO?authSource=TwitterIPO'

client = pymongo.MongoClient(mongo_connect_string)
db = client.TwitterIPO
RawTweets = db.RawTweets
ProcessedTweets = db.ProcessedTweets
PriceData = db.PriceData
Vader = db.Vader
MNB_Logit_SVM_Sentiment = db.MNB_Logit_SVM_Sentiment
TweetWordCount = db.TweetWordCount

In [135]:
prices = [x for x in PriceData.find()]

In [136]:
df_prices = pd.DataFrame(prices)

In [137]:
df_prices['Date'] = pd.to_datetime(df_prices.Date)
df_prices['Date'] = df_prices.Date.apply(lambda x: datetime.utcfromtimestamp(x.value / 1e9).date())
df_prices.head()

,Adj_Close,Adj_High,Adj_Low,Adj_Open,Adj_Volume,Close,Date,Dividend,High,Low,Name,Open,Split,UID,Volume,_id,class_num_label,direction,return
0,19.89,20.69,19.75,20.65,25630157.0,19.89,2017-03-16,0.0,20.69,19.75,SNAP,20.65,1.0,SNAP10,25630157.0,58efeb8b1845123420836caf,0,Down,-0.042369
1,21.82,22.25,20.52,20.65,47599301.0,21.82,2017-03-22,0.0,22.25,20.52,SNAP,20.65,1.0,SNAP14,47599301.0,58efeb8b1845123420836cb0,1,Up,0.070658
2,22.81,23.43,21.31,22.03,49834423.0,22.81,2017-03-08,0.0,23.43,21.31,SNAP,22.03,1.0,SNAP4,49834423.0,58efeb8b1845123420836cb1,1,Up,0.063899
3,20.38,20.54,19.55,20.04,20080142.0,20.38,2017-03-21,0.0,20.54,19.55,SNAP,20.04,1.0,SNAP13,20080142.0,58efeb8b1845123420836cb2,1,Up,0.022579
4,21.44,22.50,20.64,22.21,71849684.0,21.44,2017-03-07,0.0,22.50,20.64,SNAP,22.21,1.0,SNAP3,71849684.0,58efeb8b1845123420836cb3,0,Down,-0.098023

In [138]:
df_tweets = pd.DataFrame(list(ProcessedTweets.find({'lang' : 'en'})))

In [139]:
df_tweets.head()
print(df_tweets.shape)

(23749, 8)

In [140]:
df_MNBLogSVM = pd.DataFrame(list(MNB_Logit_SVM_Sentiment.find()))

In [141]:
df_MNBLogSVM.shape

(23749, 5)

In [142]:
df_senti = pd.merge(df_tweets, df_MNBLogSVM, on='UID',how='inner')

In [143]:
df_senti.shape

(23749, 12)

In [ ]:
df_senti.datepy = df_senti.datepy.map(lambda x: x.date())

In [190]:
df_senti['logit_label'] = df_senti.logit_predict.map({1 : 'Positive', 0 : 'Negative'})
df_senti['mnb_label'] = df_senti.mnb_predict.map({1 : 'Positive', 0 : 'Negative'})
df_senti['svm_label'] = df_senti.svm_predict.map({1 : 'Positive', 0 : 'Negative'})

In [568]:
df_svm = df_senti[['company', 'datepy', 'svm_label']]

In [558]:
df_mnb = df_senti[['company', 'datepy', 'mnb_label']]

In [559]:
df_logit = df_senti[['company', 'datepy', 'logit_label']]

In [573]:
svm_counts = df_svm.groupby(by=['company','datepy'])
svm_counts = svm_counts.svm_label.value_counts()

In [574]:
mnb_counts = df_mnb.groupby(by=['company','datepy'])
mnb_counts = mnb_counts.mnb_label.value_counts()

In [593]:
logit_counts = df_logit.groupby(by=['company','datepy'])
logit_counts = logit_counts.logit_label.value_counts()

In [576]:
svm_dict = []
for k,v in svm_counts.iteritems():
    s = {}
    s['Name'] = k[0]
    s['Date'] = k[1]
    
    if k[2] == 'Positive':
        s['SVM_Pos_Count'] = v
    else:
        s['SVM_Neg_Count'] = v

    svm_dict.append(s)

In [577]:
mnb_dict = []
for k,v in mnb_counts.iteritems():
    s = {}
    s['Name'] = k[0]
    s['Date'] = k[1]
    
    if k[2] == 'Positive':
        s['MNB_Pos_Count'] = v
    else:
        s['MNB_Neg_Count'] = v

    mnb_dict.append(s)

In [595]:
logit_dict = []
for k,v in logit_counts.iteritems():
    
    log_res = {}
    
    log_res['Name'] = k[0]
    
    log_res['Date'] = k[1]
    
    if k[2] == 'Positive':
        log_res['Logit_Pos_Count'] = v
    else:
        log_res['Logit_Neg_Count'] = v

    logit_dict.append(log_res)

In [600]:
svm_counts = pd.DataFrame(svm_dict)
svm_counts = svm_counts.groupby(['Name','Date']).sum()
svm_counts = svm_counts.fillna(0)
svm_counts = svm_counts.reset_index(level=['Date','Name'])

In [602]:
mnb_counts = pd.DataFrame(mnb_dict)
mnb_counts = mnb_counts.groupby(['Name','Date']).sum()
mnb_counts = mnb_counts.fillna(0)
mnb_counts = mnb_counts.reset_index(level=['Date','Name'])

In [603]:
logit_counts = pd.DataFrame(logit_dict)
logit_counts = logit_counts.groupby(['Name','Date']).sum()
logit_counts = logit_counts.fillna(0)
logit_counts = logit_counts.reset_index(level=['Date','Name'])

<h2> TweetWordCount - Average Ratio & Counts </h2>

In [730]:
# Get Tweet Word Count and merge with Processed Tweets
df_tweetwordcount = pd.DataFrame(list(TweetWordCount.find()))
df_tweetwordcount = pd.merge(df_tweets, df_tweetwordcount, on='UID',how='inner')

# Convert Datetime object to date
df_tweetwordcount.datepy = df_tweetwordcount.datepy.map(lambda x: x.date())

# Add Labels
df_tweetwordcount['twc_label'] = np.where(df_tweetwordcount['ratio'] > 0, 'Positive','Negative')
df_tweetwordcount.loc[df_tweetwordcount.ratio == 0, 'twc_label'] = 'Neutral'

# Groupby Date and Company for Average Ratio
df_tweetwordcount_ratio = df_tweetwordcount.groupby(['datepy','company']).mean()

# Keep Date, Company & Ratio
df_tweetwordcount_ratio = df_tweetwordcount_ratio[['ratio']]
df_tweetwordcount_ratio = df_tweetwordcount_ratio.reset_index(['datepy','company'])
df_tweetwordcount_ratio = df_tweetwordcount_ratio.rename(columns={'datepy' : 'Date','company':'Name','ratio' : 'WordCountRatio'})

In [731]:
# Get Counts

df_tweetwordcount_counts = df_tweetwordcount[['company', 'datepy', 'twc_label']]

twc_counts = df_tweetwordcount_counts.groupby(by=['company','datepy'])
twc_counts = twc_counts.twc_label.value_counts()

In [732]:
twc_dict = []
for k,v in twc_counts.iteritems():
    s = {}
    s['Name'] = k[0]
    s['Date'] = k[1]
    
    if k[2] == 'Positive':
        s['TWC_Pos_Count'] = v
    elif k[2] == 'Neutral':
        s['TWC_Neutral_Count'] = v
    else:
        s['TWC_Neg_Count'] = v

    twc_dict.append(s)

In [753]:
twc_counts = pd.DataFrame(twc_dict)
twc_counts = twc_counts.groupby(['Name','Date']).sum()
twc_counts = twc_counts.fillna(0)
twc_counts = twc_counts.reset_index(level=['Date','Name'])

<h2> Vader Incorporation </h2>

In [781]:
# Get Tweet Word Count and merge with Processed Tweets
df_vader = pd.DataFrame(list(Vader.find()))
df_vader = pd.merge(df_tweets, df_vader, on='UID',how='inner')

# Convert Datetime object to date
df_vader.datepy = df_vader.datepy.map(lambda x: x.date())

# Add Labels
df_vader['vader_label'] = np.where(df_vader['compound'] > 0, 'Positive','Negative')
criterion = df_vader['compound'].map(lambda x: x == 0)
df_vader['vader_label'][criterion] = 'Neutral'

# Groupby Date and Company for Average compound
df_vader_score = df_vader.groupby(['datepy','company']).mean()

# Keep Date, Company & compound
df_vader_score = df_vader_score[['compound','neg','neu','pos']]
df_vader_score = df_vader_score.reset_index(['datepy','company'])
df_vader_score = df_vader_score.rename(columns={'datepy' : 'Date',
                                                'company':'Name',
                                                'compound' : 'Vader_Compound',
                                                'neg' : 'Vader_Neg',
                                                'neu': 'Vader_Neu',
                                                'pos' : 'Vader_Pos'})

C:\Users\Saifi\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [785]:
## Get Vader Label Counts

df_vader_counts = df_vader[['company', 'datepy', 'vader_label']]

vader_counts = df_vader_counts.groupby(by=['company','datepy'])
vader_counts = vader_counts.vader_label.value_counts()

In [787]:
vader_dict = []
for k,v in vader_counts.iteritems():
    
    s = {}
    s['Name'] = k[0]
    s['Date'] = k[1]
    
    if k[2] == 'Positive':
        s['Vader_Pos_Count'] = v
    elif k[2] == 'Neutral':
        s['Vader_Neutral_Count'] = v
    else:
        s['Vader_Neg_Count'] = v

    vader_dict.append(s)

In [792]:
vader_counts = pd.DataFrame(vader_dict)
vader_counts = vader_counts.groupby(['Name','Date']).sum()
vader_counts = vader_counts.fillna(0)
vader_counts = vader_counts.reset_index(level=['Date','Name'])

<h2> Merge all Sentiment Datasets</h2>

In [ ]:
## Counts

In [720]:
df_senti_combined = pd.merge(svm_counts, mnb_counts, on=['Date','Name'], how='inner')

In [721]:
df_senti_combined = pd.merge(df_senti_combined,logit_counts, on=['Date','Name'], how='inner')

In [758]:
df_senti_combined = pd.merge(df_senti_combined,twc_counts, on=['Date','Name'], how='inner')

In [795]:
df_senti_combined = pd.merge(df_senti_combined,vader_counts, on=['Date','Name'], how='inner')

In [ ]:
## Scores, Ratios

In [722]:
df_senti_combined = pd.merge(df_senti_combined,df_tweetwordcount_ratio, on=['Date','Name'], how='inner')

In [783]:
df_senti_combined = pd.merge(df_senti_combined,df_vader_score, on=['Date','Name'], how='inner')

In [ ]:
## Shift date by +1 to merge with price data of next day

In [ ]:
df_senti_combined['Date'] = df_senti_combined.Date.map(lambda x: x + timedelta(days=1))

<h2> Combine Sentiment and Price </h2>

In [807]:
df_combined = pd.merge(df_prices,df_senti_combined, on=['Date','Name'], how='outer')

In [808]:
df_combined = df_combined.dropna(how='any')

In [809]:
df_combined.shape

(807, 36)

In [810]:
df_combined.to_csv('test_senti.csv')

            Date  Name     ratio
0     2016-04-20   RRR  0.000000
1     2016-04-21   RRR -0.078657
2     2016-04-22   RRR -0.036302
3     2016-04-22   YIN  0.001878
4     2016-04-23   RRR  0.000000
5     2016-04-23   YIN  0.050000
6     2016-04-24   RRR -0.025794
7     2016-04-24   YIN  0.055556
8     2016-04-25   RRR -0.020510
9     2016-04-25   YIN  0.000000
10    2016-04-26   RRR -0.000452
11    2016-04-26   YIN -0.008974
12    2016-04-27   RRR -0.027264
13    2016-04-27   YIN -0.009109
14    2016-04-28   RRR -0.032738
15    2016-04-28   YIN -0.017913
16    2016-04-29  NTLA  0.000000
17    2016-04-29   RRR -0.011982
18    2016-04-29   YIN -0.006205
19    2016-04-30  NTLA -0.041270
20    2016-04-30   RRR -0.095238
21    2016-04-30  SBPH  0.000000
22    2016-04-30   YIN -0.095238
23    2016-05-01  NTLA -0.042277
24    2016-05-01  SBPH -0.053246
25    2016-05-02  NTLA -0.022159
26    2016-05-02   RRR -0.007812
27    2016-05-02  SBPH  0.026316
28    2016-05-02   YIN -0.200000
29    2016-05-03  NTLA  0.000000
...          ...   ...       ...
1661  2017-03-13  HLNE  0.040000
1662  2017-03-13  SACH  0.166667
1663  2017-03-13  SNAP  0.000326
1664  2017-03-14   FBM -0.046786
1665  2017-03-14  HLNE  0.000000
1666  2017-03-14  SACH  0.055556
1667  2017-03-14  SNAP -0.012817
1668  2017-03-15   FBM -0.036905
1669  2017-03-15  HLNE  0.025641
1670  2017-03-15  SNAP -0.020457
1671  2017-03-16  CLPR  0.000000
1672  2017-03-16   FBM  0.000000
1673  2017-03-16  HLNE -0.057143
1674  2017-03-16  SNAP -0.012201
1675  2017-03-17  HLNE  0.053797
1676  2017-03-17  SNAP  0.062500
1677  2017-03-18  SNAP  0.000000
1678  2017-03-19  HLNE  0.090909
1679  2017-03-19  SNAP -0.107143
1680  2017-03-20  HLNE  0.000000
1681  2017-03-20  SNAP -0.030668
1682  2017-03-21  HLNE -0.002137
1683  2017-03-21  SNAP  0.135714
1684  2017-03-22  HLNE  0.000000
1685  2017-03-22  SNAP  0.080000
1686  2017-03-23  HLNE -0.090909
1687  2017-03-23  SNAP  0.035714
1688  2017-03-24  HLNE  0.000000
1689  2017-03-24  SNAP -0.033333
1690  2017-03-25  SNAP -0.012783

[1691 rows x 3 columns]